@font-face {
  font-family: "Montserrat-Bold";
  src: url(../fonts/Montserrat-Bold.ttf);
}
@font-face {
  font-family: "Cormorant-Regular";
  src: url(../fonts/Cormorant-Regular.ttf);
}
@font-face {
  font-family: "Cormorant-Medium";
  src: url(../fonts/Cormorant-Medium.ttf);
}
@font-face {
  font-family: "Cormorant-Light";
  src: url(../fonts/Cormorant-Light.ttf);
}
@font-face {
  font-family: "Cormorant-Bold";
  src: url(../fonts/Cormorant-Bold.ttf);
}
/* Fonts */
/* Colors */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/tsund\/Desktop\/Mahir\/css\/main\.sass}line{font-family:\000034}}
html {
  font-size: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/tsund\/Desktop\/Mahir\/css\/main\.sass}line{font-family:\000037}}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/tsund\/Desktop\/Mahir\/css\/main\.sass}line{font-family:\0000310}}
body {
  margin: 0;
  overflow-x: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/tsund\/Desktop\/Mahir\/css\/main\.sass}line{font-family:\0000313}}
body a {
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/tsund\/Desktop\/Mahir\/css\/main\.sass}line{font-family:\0000316}}
button, button:focus, button:active {
  outline: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/tsund\/Desktop\/Mahir\/css\/main\.sass}line{font-family:\0000319}}
.btn {
  width: 14.4rem;
  height: 5.1rem;
  -webkit-box-shadow: -1px 10px 18px rgba(0, 0, 0, 0.15);
          box-shadow: -1px 10px 18px rgba(0, 0, 0, 0.15);
  background-color: #212121;
  border: 1px solid #212121;
  padding-left: 2.9rem;
  padding-right: 2.9rem;
  color: #ffffff;
  font-family: "Cormorant-Medium";
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 3.2rem;
  text-transform: uppercase;
}

/* Section Home */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/tsund\/Desktop\/Mahir\/css\/main\.sass}line{font-family:\0000336}}
#Home {
  height: 80rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/tsund\/Desktop\/Mahir\/css\/main\.sass}line{font-family:\0000339}}
#Home .grey_bg-and-boy {
  width: 648px;
  height: 800px;
  background-color: #e1e1e1;
  text-align: right;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/tsund\/Desktop\/Mahir\/css\/main\.sass}line{font-family:\0000345}}
#Home .grey_bg-and-boy .boy {
  margin-top: -58.2rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/tsund\/Desktop\/Mahir\/css\/main\.sass}line{font-family:\0000348}}
#Home .right-sidebar {
  margin-top: 24.8rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/tsund\/Desktop\/Mahir\/css\/main\.sass}line{font-family:\0000351}}
#Home .left-sidebar {
  margin-top: 20rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/tsund\/Desktop\/Mahir\/css\/main\.sass}line{font-family:\0000354}}
#Home .logo {
  color: #212121;
  font-family: "Montserrat-Bold";
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.2rem;
  -webkit-transform: translateY(-35rem);
          transform: translateY(-35rem);
  margin-left: -41.6rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/tsund\/Desktop\/Mahir\/css\/main\.sass}line{font-family:\0000363}}
#Home .nav {
  color: #212121;
  font-family: "Cormorant-Regular";
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 3.2rem;
  text-transform: uppercase;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateY(-35rem);
          transform: translateY(-35rem);
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/tsund\/Desktop\/Mahir\/css\/main\.sass}line{font-family:\0000375}}
#Home .nav a:after {
  content: "";
  width: 100%;
  height: 0.2rem;
  background-color: #212121;
  display: block;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/tsund\/Desktop\/Mahir\/css\/main\.sass}line{font-family:\0000386}}
#Home .nav a:hover:after {
  -webkit-transform: scale(1);
          transform: scale(1);
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/tsund\/Desktop\/Mahir\/css\/main\.sass}line{font-family:\0000389}}
#Home .nav li {
  -webkit-transform: translateX(10rem);
          transform: translateX(10rem);
  margin-left: 2rem;
  margin-right: 2rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/tsund\/Desktop\/Mahir\/css\/main\.sass}line{font-family:\0000397}}
#Home h1 {
  color: #212121;
  font-family: "Cormorant-Bold";
  font-size: 4.6rem;
  font-weight: 700;
  line-height: 3.2rem;
  text-transform: uppercase;
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/tsund\/Desktop\/Mahir\/css\/main\.sass}line{font-family:\00003106}}
#Home h2 {
  margin: 0;
  margin-top: 0.5rem;
  color: #212121;
  font-family: "Cormorant-Regular";
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 3.2rem;
  margin-bottom: 2.5rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/tsund\/Desktop\/Mahir\/css\/main\.sass}line{font-family:\00003116}}
#Home .header-text {
  -webkit-transform: translateY(-49rem);
          transform: translateY(-49rem);
  margin-left: 12.8rem;
}

/* Button */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/tsund\/Desktop\/Mahir\/css\/main\.sass}line{font-family:\00003125}}
.btn-two {
  width: 19.4rem;
  background-color: #ffffff;
  color: #212121;
  margin-left: 1rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/tsund\/Desktop\/Mahir\/css\/main\.sass}line{font-family:\00003132}}
.btn-two:hover {
  background-color: #212121;
  color: #ffffff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/tsund\/Desktop\/Mahir\/css\/main\.sass}line{font-family:\00003136}}
.btn-one {
  margin-right: 1rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/tsund\/Desktop\/Mahir\/css\/main\.sass}line{font-family:\00003140}}
.btn-one:hover {
  background-color: #ffffff;
  color: #212121;
}

/* Section-header-text */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/tsund\/Desktop\/Mahir\/css\/main\.sass}line{font-family:\00003147}}
.section-header button {
  width: 25rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/tsund\/Desktop\/Mahir\/css\/main\.sass}line{font-family:\00003150}}
.section-header-h2 {
  margin: 0;
  margin-top: 12.3rem;
  margin-bottom: 1.5rem;
  color: #000000;
  font-family: "Cormorant-Regular";
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 3.2rem;
  text-transform: uppercase;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/tsund\/Desktop\/Mahir\/css\/main\.sass}line{font-family:\00003161}}
.section-header-img {
  margin: 0;
  margin-bottom: 2.4rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/tsund\/Desktop\/Mahir\/css\/main\.sass}line{font-family:\00003165}}
.section-header-p {
  margin: 0;
  margin-bottom: 8.3rem;
  width: 56.3rem;
  height: 9.5rem;
  color: #212121;
  font-family: "Cormorant-Regular";
  font-size: 2.1rem;
  font-weight: 700;
  line-height: 2.6rem;
  text-align: center;
}

/* Section About */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/tsund\/Desktop\/Mahir\/css\/main\.sass}line{font-family:\00003178}}
#About {
  height: 50rem;
}

/* Section MySkills */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/tsund\/Desktop\/Mahir\/css\/main\.sass}line{font-family:\00003182}}
#MySkills {
  height: 35rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/tsund\/Desktop\/Mahir\/css\/main\.sass}line{font-family:\00003185}}
#MySkills h2 {
  margin: 0;
  margin-top: 5rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/tsund\/Desktop\/Mahir\/css\/main\.sass}line{font-family:\00003189}}
#MySkills img {
  margin-top: 1.5rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/tsund\/Desktop\/Mahir\/css\/main\.sass}line{font-family:\00003192}}
#MySkills span {
  color: #000000;
  font-family: "Cormorant-Regular";
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 3.2rem;
  text-transform: uppercase;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/tsund\/Desktop\/Mahir\/css\/main\.sass}line{font-family:\00003200}}
#MySkills .progress {
  margin-bottom: 3.9rem;
  width: 37rem;
  height: 1.5rem;
  background-color: #dfdfdf;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/tsund\/Desktop\/Mahir\/css\/main\.sass}line{font-family:\00003206}}
#MySkills .progress-bar {
  height: 100%;
  background-color: #212121;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/tsund\/Desktop\/Mahir\/css\/main\.sass}line{font-family:\00003210}}
#MySkills .progress-bar-1 {
  width: 34.6rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/tsund\/Desktop\/Mahir\/css\/main\.sass}line{font-family:\00003212}}
#MySkills .progress-bar-2 {
  width: 24rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/tsund\/Desktop\/Mahir\/css\/main\.sass}line{font-family:\00003214}}
#MySkills .progress-bar-3 {
  width: 27.8rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/tsund\/Desktop\/Mahir\/css\/main\.sass}line{font-family:\00003216}}
#MySkills .progress-bar-4 {
  width: 21rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/tsund\/Desktop\/Mahir\/css\/main\.sass}line{font-family:\00003218}}
#MySkills .progress-bar-5 {
  width: 35.9rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/tsund\/Desktop\/Mahir\/css\/main\.sass}line{font-family:\00003220}}
#MySkills .progress-bar-6 {
  width: 34.6rem;
}

/* Section What I Do */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/tsund\/Desktop\/Mahir\/css\/main\.sass}line{font-family:\00003224}}
#WhatIDo {
  height: 85.5rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/tsund\/Desktop\/Mahir\/css\/main\.sass}line{font-family:\00003227}}
#WhatIDo .wid-bg {
  width: 100vw;
  background: url(../img/wid-bg.png) no-repeat;
  background-size: cover;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/tsund\/Desktop\/Mahir\/css\/main\.sass}line{font-family:\00003232}}
#WhatIDo .WhatIDo {
  width: 117rem;
  height: 51.7rem;
  -webkit-box-shadow: 0 0 40px 9px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 40px 9px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  -webkit-transform: translateY(21.7rem);
          transform: translateY(21.7rem);
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/tsund\/Desktop\/Mahir\/css\/main\.sass}line{font-family:\00003239}}
#WhatIDo .section-header-img {
  margin-bottom: 4.1rem;
  margin-right: 2rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/tsund\/Desktop\/Mahir\/css\/main\.sass}line{font-family:\00003243}}
#WhatIDo .monitor {
  margin-left: 16rem;
  margin-bottom: 1rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/tsund\/Desktop\/Mahir\/css\/main\.sass}line{font-family:\00003247}}
#WhatIDo .binary-code {
  margin-right: 17rem;
  margin-bottom: 1rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/tsund\/Desktop\/Mahir\/css\/main\.sass}line{font-family:\00003251}}
#WhatIDo .codyng {
  margin-left: -2rem;
  margin-bottom: 1rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/tsund\/Desktop\/Mahir\/css\/main\.sass}line{font-family:\00003255}}
#WhatIDo span {
  text-align: center;
  color: #000000;
  font-family: "Cormorant-Bold";
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 3.2rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/tsund\/Desktop\/Mahir\/css\/main\.sass}line{font-family:\00003269}}
#WhatIDo .info {
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/tsund\/Desktop\/Mahir\/css\/main\.sass}line{font-family:\00003272}}
#WhatIDo .info-img {
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/tsund\/Desktop\/Mahir\/css\/main\.sass}line{font-family:\00003275}}
#WhatIDo h2 {
  margin-right: 2rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/tsund\/Desktop\/Mahir\/css\/main\.sass}line{font-family:\00003278}}
#WhatIDo p {
  text-align: center;
  width: 29.3rem;
  height: 9.5rem;
  opacity: 0.9;
  color: #000000;
  font-family: "Cormorant-Regular";
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.6rem;
}

/* Section MyWorks */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/tsund\/Desktop\/Mahir\/css\/main\.sass}line{font-family:\00003291}}
#MyWorks {
  height: 87.2rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/tsund\/Desktop\/Mahir\/css\/main\.sass}line{font-family:\00003294}}
#MyWorks h2 {
  margin: 0;
  margin-bottom: 1.4rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/tsund\/Desktop\/Mahir\/css\/main\.sass}line{font-family:\00003298}}
#MyWorks img {
  margin-bottom: 3rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/tsund\/Desktop\/Mahir\/css\/main\.sass}line{font-family:\00003301}}
#MyWorks button {
  margin-top: 0.7rem;
}

/* Section Count */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/tsund\/Desktop\/Mahir\/css\/main\.sass}line{font-family:\00003306}}
#Count {
  height: 28.6rem;
  background-image: url(../img/img-count.png);
  color: #ffffff;
  font-family: "Cormorant-Regular";
  font-size: 3rem;
  font-weight: 400;
  line-height: 4rem;
  padding-top: 8.3rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/tsund\/Desktop\/Mahir\/css\/main\.sass}line{font-family:\00003316}}
#Count span {
  text-align: center;
  margin-left: 12.4rem;
  margin-right: 12.4rem;
  font-size: 10rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/tsund\/Desktop\/Mahir\/css\/main\.sass}line{font-family:\00003322}}
#Count p {
  width: 30.4rem;
  margin: 0;
  text-align: center;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
}

/* Section Order */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/tsund\/Desktop\/Mahir\/css\/main\.sass}line{font-family:\00003331}}
#Order {
  height: 67rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/tsund\/Desktop\/Mahir\/css\/main\.sass}line{font-family:\00003334}}
#Order h2 {
  margin: 0;
  margin-top: 12.2rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/tsund\/Desktop\/Mahir\/css\/main\.sass}line{font-family:\00003338}}
#Order input, #Order textarea {
  color: #000000;
  font-family: "Cormorant-Regular";
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 3.2rem;
  border: none;
  border-bottom: 0.1rem solid #212121;
  outline: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/tsund\/Desktop\/Mahir\/css\/main\.sass}line{font-family:\00003348}}
#Order .r1 {
  width: 57rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/tsund\/Desktop\/Mahir\/css\/main\.sass}line{font-family:\00003351}}
#Order .r2 {
  width: 117rem;
  height: 20.2rem;
  margin-top: 4rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/tsund\/Desktop\/Mahir\/css\/main\.sass}line{font-family:\00003356}}
#Order button {
  width: 27rem;
  margin-top: 4rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/tsund\/Desktop\/Mahir\/css\/main\.sass}line{font-family:\00003360}}
#Order button i {
  margin-left: 0.5rem;
  font-size: 2.2rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/tsund\/Desktop\/Mahir\/css\/main\.sass}line{font-family:\00003364}}
#Order .section-header-img {
  margin-top: 1.4rem;
}

/* Section Footer */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/tsund\/Desktop\/Mahir\/css\/main\.sass}line{font-family:\00003370}}
footer {
  padding-top: 3.4rem;
  height: 10.3rem;
  background-color: #212121;
  color: #ffffff;
  font-family: "Cormorant-Regular";
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 3.2rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/tsund\/Desktop\/Mahir\/css\/main\.sass}line{font-family:\00003380}}
footer button {
  width: 3.6rem;
  height: 3.6rem;
  border: 0.1rem solid #ffffff;
  background-color: #212121;
  border-radius: 5rem;
  color: #ffffff;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 3.2rem;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/tsund\/Desktop\/Mahir\/css\/main\.sass}line{font-family:\00003392}}
footer button:hover {
  background-color: #ffffff;
  color: #0077b5;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/tsund\/Desktop\/Mahir\/css\/main\.sass}line{font-family:\00003396}}
footer span {
  margin-right: 15rem;
}

/*# sourceMappingURL=main.css.map */